@page "/movie/{movieId:int}"
@inject HttpClient http
@inject NavigationManager navigation

@if (movie == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card edit-detail">
        <header class="card-header">
            <p class="card-header-title">
                @movie.Title
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                @if (movie.Id != 0)
                {
                    <label class="label" for="id">id</label>
                    <input name="id"
                           class="input"
                           value="@movie.Id"
                           readonly="readonly" />
                }
                <InputDetail Name="Title"
                             Placeholder="Enter a movie title"
                             @bind-Value="movie.Title" />
                <InputDetail Name="description"
                             Placeholder="box"
                             @bind-Value="movie.Description" />
                <div class="field">
                    <label class="label" for="quantity">
                        quantity
                    </label>
                    <input name="quantity"
                           class="input"
                           type="number"
                           min="1"
                           max="100"
                           value="@movie.Quantity"
                           placeholder="1"
                           @onchange="@(e => movie.Quantity = int.Parse(e.Value.ToString()))" />
                </div>
            </div>
        </div>
        <footer class="card-footer ">
            <ButtonFooter Class="cancel-button"
                          IconClasses="fas fa-undo"
                          OnClick="@Cancelmovie"
                          Label="Cancel" />
            <ButtonFooter Class="save-button"
                          IconClasses="fas fa-save"
                          OnClick="@Save"
                          Label="Save" />
        </footer>
    </div>
}

@code {
    private Movie movie;

    [Parameter] public int movieId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (movieId == 0)
        {
            movie = new Movie();
        }
        else
        {
            var movies = await http.GetFromJsonAsync<IEnumerable<Movie>>("api/movies");
            movie = movies.First(p => p.Id == movieId);
        }
    }

    private void Cancelmovie()
    {
        navigation.NavigateTo("/");
    }

    private async Task Save()
    {
        if (movie.Id == 0)
        {
            await http.PostAsJsonAsync("api/movies", movie);
        }
        else
        {
            await http.PutAsJsonAsync("api/movies", movie);
        }
        navigation.NavigateTo("/");
    }
}